BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 0px 10px;
    COLOR: #000000;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left
}
A.OrangeLink:link
{
    FONT-WEIGHT: bold;
    COLOR: #ff9900
}
A.OrangeLink:active
{
    FONT-WEIGHT: bold;
    COLOR: #ff9900
}
A.OrangeLink
{
    FONT-WEIGHT: bold;
    COLOR: #ff9900;
    FONT-FAMILY: Arial
}
A.OrangeLink:visited
{
    FONT-WEIGHT: bold;
    COLOR: #ff9900
}
A.LtBlueLink
{
    FONT-WEIGHT: bold;
    COLOR: #99ccff
}
A.LtBlueLink:link
{
    FONT-WEIGHT: bold;
    COLOR: #99ccff
}
A.LtBlueLink:active
{
    FONT-WEIGHT: bold;
    COLOR: #99ccff
}
A.LtBlueLink:visited
{
    FONT-WEIGHT: bold;
    COLOR: #99ccff
}
.Blue16
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 16pt;
    COLOR: #006da5;
    FONT-FAMILY: Arial
}
.Orange16
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 16pt;
    COLOR: #ff9900;
    FONT-FAMILY: Arial
}
P
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
LI
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
.White14
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial
}
A.OrangeLink:hover
{
    FONT-WEIGHT: bold;
    COLOR: #ff9900;
    TEXT-DECORATION: underline
}
A.WhiteLink:active
{
    FONT-WEIGHT: bold;
    COLOR: #ffffff
}
A.WhiteLink
{
    FONT-WEIGHT: bold;
    COLOR: #ffffff
}
A.WhiteLink:link
{
    FONT-WEIGHT: bold;
    COLOR: #ffffff
}
A.WhiteLink:visited
{
    FONT-WEIGHT: bold;
    COLOR: #ffffff
}
A.LtBlueLink:hover
{
    FONT-WEIGHT: bold;
    COLOR: #99ccff;
    TEXT-DECORATION: underline
}
A.WhiteLink:hover
{
    FONT-WEIGHT: bold;
    COLOR: #ffffff;
    TEXT-DECORATION: underline
}
.Gray16
{
    FONT-SIZE: 16pt;
    COLOR: #555555;
    FONT-FAMILY: Arial
}
.White16
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 16pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial
}
.Gray14
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14pt;
    COLOR: #555555;
    FONT-FAMILY: Arial
}
A
{
    FONT-WEIGHT: bold
}
.WhiteNorm
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial
}
.FooterWhite
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial
}
.FooterGray
{
    FONT-SIZE: 8pt;
    COLOR: #555555;
    FONT-FAMILY: Arial
}
.Black16
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 16pt;
    COLOR: #000000;
    FONT-FAMILY: Arial
}
TD
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Arial
}
.FieldLabel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #006da5;
    FONT-FAMILY: Arial
}
.Blue10
{
    FONT-SIZE: 10pt;
    COLOR: #006da5;
    FONT-FAMILY: Arial
}
.Orange12
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #ff9900;
    FONT-FAMILY: Arial
}
.LtRed8
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #ff9999;
    FONT-FAMILY: Arial
}
  .BlkSection 
{
	font-family:arial, verdana, helvetica; 
  	font-size:105%; 
  	font-weight:bold; 
  	color:#000000; 
  	padding-bottom:10px;
}
td.instructions-text {
	font-family: Arial;
	font-size: 10pt;
}

td.instructions-header1 {
	font-family: Arial;
	font-size: 16pt;
	font-weight: bold;
	color: #0079C2;
}

td.instructions-header2 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	color: #A8AD00;
}
