<div class="pmf-section-container form-group" *ngIf="
        payLoadService?.contact?.ctFirstName ||
        payLoadService?.contact?.ctLastName ||
        payLoadService?.contact?.emailAddress ||
        payLoadService?.contact?.phoneNumber">
  <div class="pmf-container-group">
    <div class="ant-heading-three ant-margin-bot-10">Contact Information</div>
    <div class="pmf-table-container" *ngIf="payLoadService?.contact?.ctFirstName">
      <div>First Name:</div>
      <div>{{payLoadService?.contact?.ctFirstName}}</div>
    </div>
    <div class="pmf-table-container" *ngIf="payLoadService?.contact?.ctLastName">
      <div>Last Name:</div>
      <div>{{payLoadService?.contact?.ctLastName}}</div>
    </div>
  </div>

  <div class="pmf-container-group">
    <div class="pmf-table-container" *ngIf="payLoadService?.contact?.emailAddress">
      <div>Email:</div>
      <div>{{payLoadService?.contact?.emailAddress}}</div>
    </div>
    <div class="pmf-table-container" *ngIf="payLoadService?.contact?.phoneNumber">
      <div>Phone Number:</div>
      <div>{{payLoadService?.contact?.phoneNumber | maskPhonePipe}}</div>
    </div>
  </div>
</div>
