<div class="bs-form-panel">
  <div class="form-group clearfix" [ngClass]="{'has-error': formValidations?.formErrors?.tterminationDate}">
    <label for="tterminationDate">
      {{dataService?.JSON_DATA?.view?.selectUpdateTypesView?.terminationPPA?.labels?.termination_date}}
      <i class="required-asterik"> *</i>
    </label>
    <input id="tterminationDate"
           type="text"
           name="tterminationDate"
           [(ngModel)]="payLoadService.terminateAddress.tterminationDate"
           class="ant-text-input"
           data-uxd-text-dir
           placeholder="mm/dd/yyyy"
           pattern="^(((0?[1-9]|1[012])/(0?[1-9]|1\d|2[0-8])|(0?[13456789]|1[012])/(29|30)|(0?[13578]|1[02])/31)/(19|[2-9]\d)\d{2}|0?2/29/((19|[2-9]\d)(0[48]|[2468][048]|[13579][26])|(([2468][048]|[3579][26])00)))$"
           data-is-date="true"
           required/>
  </div>

  <div *ngIf="formValidations?.formErrors?.tterminationDate" role="alert">
    <label>
      <span class="ant-form-item-error">
        {{ formValidations?.formErrors.tterminationDate }}
      </span>
    </label>
  </div>

  <div class="form-group clearfix">
    <div [ngClass]="{'has-error': formValidations?.formErrors?.address_type}">
      <label>{{pmfDataService?.JSON_DATA?.field_mapping_options?.address_type?.field_name}}</label>
      <div class="pmf-md-select">
        <select2 [data]="pmfDataService?.getSortedDropdownValues(pmfDataService?.JSON_DATA?.field_mapping_options?.address_type[payLoadService.getUserType()]?.fields)"
                 [(ngModel)]="payLoadService.terminateAddress.addressType"
                 (valueChanged)="payLoadService.terminateAddress.addressType = $event.value"
                 [value]="payLoadService.terminateAddress.addressType"
                 [cssImport]="true"
                 [options]="options | optionsPipe: 'Select One' : pmfDataService?.JSON_DATA?.field_mapping_options?.address_type[payLoadService.getUserType()]?.fields"
                 name="tswitchTerrmAddress"
                 ngDefaultControl
                 required>
        </select2>
      </div>
    </div>
  </div>

  <div class="form-group clearfix">
    <label>{{pmfDataService?.JSON_DATA?.field_mapping_options?.reason?.field_name}}</label>
      <div class="ant-lg-select">
      <select2 [data]="pmfDataService?.getSortedDropdownValues(pmfDataService?.JSON_DATA?.field_mapping_options?.reason?.fields)"
               [(ngModel)]="payLoadService.terminateAddress.termReason"
               (valueChanged)="payLoadService.terminateAddress.termReason = $event.value"
               [value]="payLoadService.terminateAddress.termReason"
               [cssImport]="true"
               [options]="options | optionsPipe: 'Select One' : pmfDataService?.JSON_DATA?.field_mapping_options?.reason?.fields"
               name="reason"
               ngDefaultControl
               required>
      </select2>
    </div>
  </div>

  <section *ngIf="payLoadService?.terminateAddress?.addressType === 'Practice Location' && payLoadService.getUserType() === 0">
    <div class="form-group">
      <label>
        {{pmfDataService?.JSON_DATA?.field_mapping_options?.address_terminate?.pcp?.field_name}}
        <i class="required-asterik"> *</i>
      </label>
      <div data-tcp-toggle-switch-cmp
           [(ngModel)]="payLoadService.terminateAddress.pcpIndicator"
           id="{{parentName}}-pcpIndicator"
           name="{{parentName}}-pcpIndicator"
           [options]="[{label: 'Yes', value: 'yes'}, {label: 'No', value: 'no'}]">
      </div>
    </div>
  </section>

  <div class="form-group">
    <div class="ant-heading-three">Address Details</div>
    <review-for-submission-address-component [payLoadService]="payLoadService?.addresses">
    </review-for-submission-address-component>
  </div>
</div>
