/** Toggle Component **/

.pfToggleB .ptLabel {
	display:inline-block;
	background: $base-color;
	width:60px;
	border-radius:20px;
	border:1px solid $medium-gray;
	box-shadow:inset 1px 1px 3px $medium-gray;
	height:30px;
	position:relative;left:220px;
	cursor: pointer;

	span {
		position:relative;
		top:-30px;
		display:inline-block;
		width:200px;
		left:-200px;
	}

	&:before {
		content:" ";
		background:$light-gray;
		display:block;
		height:30px;
		width:30px;
		border-radius: 18px;
		border: 1px solid $medium-gray;
		margin: -1px;
		transition: margin .15s;
		background: $light-gray; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover, $gray 25%, $base-color 30%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(25%,$gray), color-stop(30%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover, $gray 25%, $base-color 30%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  $gray 25%, $base-color 30%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  $gray 25%,$base-color 30%); /* IE10+ */
		background: radial-gradient(ellipse at center,  $gray 25%, $base-color 30%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		box-shadow:inset -0px -1px 3px $medium-gray;
	}
}

.pfToggleB .ptOption + .ptLabel.active {
	background-color: $primary-color-light-blue;
	box-shadow:inset 1px 1px 3px $gray;}

.pfToggleB .ptOption + .ptLabel.focus {box-shadow: 0 0 5px $primary-color-light-blue;}

.pfToggleB .ptOption + .ptLabel.active:before  {margin:-1px 29px;}

.pfToggleB .optionWrapper {
	margin:20px 0px;
	overflow: hidden;
	height:35px;
	padding-top:3px;}

.pfToggleB .ptOption {
	position:absolute;
	left:-9999px;}

.ptLabel.ptDisabled {
	background-color: #dadada !important;
	cursor: not-allowed !important;
}

/** On/Off Switch Component **/

.pfToggleSwitch .ptOption {
  position:absolute;
  left:-9999px;}

.pfToggleSwitch .ptLabel {
  text-align: center;
  border: 1px solid $medium-gray;
  border-right:0px;
  font-weight: 400;
  margin: 15px 0px 30px;
  float: left;
  padding: 3px 15px;
  cursor: pointer;
}


.pfToggleSwitch .optionWrapper:first-of-type .ptLabel {
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  }

.pfToggleSwitch .optionWrapper:last-of-type .ptLabel{
  border-right: 1px solid $medium-gray;
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
  }

.pfToggleSwitch .ptLabel.active,
.pfToggleSwitch .ptLabel.focus {
  background-color:$primary-color-light-blue;
  color: $base-color;}

.pfToggleSwitch .ptLabel.focus {box-shadow: 0 0 3px $primary-color-blue;}