<div class="bs-form-panel">
  <div *ngFor="let language of languagesSpoken; let ind = index">
    <div class="form-group" *ngIf="parentName !== 'addAddress'">
      <div data-tcp-toggle-switch-cmp
         [(ngModel)]="language.actionCd"
         id="{{parentName}}-{{indexArray[index]}}-rbtnaddLanguage"
         name="{{parentName}}-{{ind}}-rbtnaddLanguage"
         [legendSrOnly]="true"
         [options]="[{label: 'Add', value: 'A'}, {label: 'Delete', value: 'D'}]">
      </div>
    </div>
    <div class="form-group">
      <label>
        {{
            payLoadService.getUserType() === 0
            ? dataService?.JSON_DATA?.view?.selectUpdateTypesView?.languagesSpoken?.labels?.individual_languageSpoken
            : dataService?.JSON_DATA?.view?.selectUpdateTypesView?.languagesSpoken?.labels?.organization_languageSpoken
        }}
      </label>
      <div class="pmf-md-select">
        <select2 [data]="pmfDataService?.getSortedDropdownValues(pmfDataService?.JSON_DATA?.field_mapping_options?.language?.fields)"
                 [(ngModel)]="language.language"
                 (valueChanged)="language.language = $event.value"
                 [value]="language.language"
                 [cssImport]="true"
                 [options]="options | optionsPipe: 'Select One' : pmfDataService?.JSON_DATA?.field_mapping_options?.language?.fields"
                 name="{{parentName}}-{{ind}}-languageName"
                 ngDefaultControl
                 required>
        </select2>
      </div>
      <div *ngIf="languagesSpoken.length > 1">
        <a id="{{parentName}}-{{ind}}-removelink"  class="ant-action-link" (click)="removeLanguage(ind)">Remove</a>
      </div>
    </div>
    <hr>
  </div>
  <div class="form-group pmf-margin-left-20" *ngIf="languagesSpoken.length < 4">
    <div class="icon-item" (click)="addLanguage()">
      <span class="fa md fa-plus-circle blue"></span>
    </div>
    <div class="icon-description">
      Add Another Language
    </div>
  </div>
</div>
