.ant-collapse-body {
    overflow: visible !important;
}

.bs-form-panel {
    position: relative;
    padding: 25px 40px 15px;
    margin: -15px -13px 30px -13px;
    background-color: #fff;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bs-form-select {
    width: 50%;
}

.bs-tooltip-popIcon-date {
  display: inline-block;
  border-bottom: 0;
  padding-right: 2px;
}

.su-back-button {
  margin-left: 55px;
}
